{% extends "base.html" %}
{% block content %}

<header id="products-header" class="d-flex align-items-center justify-content-center justify-content-lg-start">
    <div class="container d-flex flex-direction-row align-items-center justify-content-center">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="{{ url_for('static', filename='/assets/logo.png') }}"
                 style="margin: 1rem; height: 5vh; width: 5vh; border-radius: 50%;" class="">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{{ url_for('about') }}" class="nav-link px-2 text-white">Товары</a></li>
        </ul>

        <div class="text-end">
            {% if not logged_in: %}
            <a href="{{ url_for('register') }}">
                <button type="button" class="btn btn-outline-light me-2">Регистрация</button>
            </a>
            <a href="{{ url_for('login') }}">
                <button type="button" class="btn btn-warning">Войти</button>
            </a>
        </div>
        {% else %}
        <a href="{{ url_for('logout') }}">
            <button type="button" class="btn btn-outline-light">Выйти</button>
        </a>
        {% if user_is_admin : %}
        <a href="{{ url_for('me') }}">
            <button type="button" class="btn btn-outline-light">Личный кабинет</button>
        </a>
        {% endif %}

        <a href="{{ url_for('cart') }}">
            <button type="button" class="btn btn-outline-light">Cart</button>
        </a>
        {% endif %}
    </div>
</header>

<div class="container my-5" id="orders-table">
    <h2 class="mb-5">Текущие заказы: </h2>
    <table>
        <tr>
            <th>Номер</th>
            <th>Товар</th>
            <th>Цена</th>
            <th>№ пользователя</th>
        </tr>
        {% for order in orders_list: %}
        <tr>
            <td>{{ order.id }}</td>
            <td id="table-product-name" >{{ order.product }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.order_user }}</td>
        </tr>

        {% endfor %}
    </table>

</div>
{% endblock %}