{% extends "base.html" %}
{% block content %}

<section class="vh-100 bg-image"
  style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.87)), url('/static/assets/cardsbg.png');">
  <div class="mask d-flex align-items-center h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Регистрация</h2>

              <form action="{{ url_for('register') }}" method="post">

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">Ваше имя</label>
                  <input type="text" name="name" id="form3Example1cg" class="form-control form-control-lg" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">Ваш Email</label>
                  <input type="email" name="email" id="form3Example3cg" class="form-control form-control-lg" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cg">Пароль</label>
                  <input type="password" name="password" id="form3Example4cg" class="form-control form-control-lg" />
                </div>

<!--                <div class="form-outline mb-4">-->
<!--                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>-->
<!--                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />-->
<!--                </div>-->


                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Регистрация</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Уже имеете аккаунт? <a href="{{ url_for('login') }}"
                    class="fw-bold text-body"><u>Войти</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}